body {
    background-color: #F3E9DD;
    list-style-position: inside;
}
ul {
    list-style-type: none;
    list-style:none;
	list-style-position:inside;
    margin: 0;
    padding: 0;
    background-color: #DAB88B;
}
  
li {
    display: inline;
    border-right: 1px solid #bbb;
    border-right: none;
    
}
a {
    color: #243D25 ;    
} 